/* MAKE THE BACKGROUND #808080 */
/* html {
   background-image: linear-gradient(to bottom,
      #ffffff 0%,
      #ffffff 50%,
      #808080 50%,
      #808080 100%,
      ); } */

/* ADDITIONS */
#small-img {
   width: 150px;
   padding: 1px;
   border: 4px solid #333333;
   border-radius: 15px;
}

#closeText {
   margin-top: -20px;
}

#mpcWinnerImg {
   width: 300px;
   border-radius: 3px;
}

/* #disp5 {
   font-size: 2rem
      USED H1 INSTEAD FOR NOW
} */

table, th {
   width: auto !important;
}


/* PUBLISHING */
#bg-white {
   background-color: white;
   color: black;
}

#pcLogo {
   height: 8rem;
   padding-right: -20rem;
}